<header>
    <nav class="navbar navbar-expand-md navbar-dark custom-navbar" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Guidance365</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-toggle="modal"
                            data-bs-target="#uploadXLSXModal">Upload XLSX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-toggle="modal"
                            data-bs-target="#generateQRModal">Generate QR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-toggle="modal"
                            data-bs-target="#addColumnModal">Add Column</a>
                    </li>
                </ul>
                <form role="search" id="searchForm">
                    <input class="form-control" id="searchBar" type="search" placeholder="Search (CTRL K)"
                        aria-label="Search" onkeypress="searchStudent()">
                </form>
            </div>
        </div>
    </nav>
</header>