<div class="modal fade" id="uploadXLSXModal" tabindex="-1" aria-labelledby="uploadXLSXModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadXLSXModalLabel">Upload XLSX</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="dropzone" id="uploadDropzone" enctype="multipart/form-data">
                </form>
                <div id="previews"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="uploadXLSXDiscardButton">Discard</button>
                <button type="button" class="btn btn-primary" id="uploadXLSXUploadButton">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generateQRModal" tabindex="-1" aria-labelledby="generateQRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="generateQRModalLabel">Generate QR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="text" placeholder="Enter text to generate QR code"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Generate QR</button>
                    <div id="qrImagePreview"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="generateQRDiscardButton">Discard</button>
                <button type="button" class="btn btn-primary" id="generateQRDownloadButton">Download QR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scanQRModal" tabindex="-1" aria-labelledby="scanQRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scanQRModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeQrScannerModalTitle"></button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="section">
                        <div id="reader"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="closeQrScannerModalFooter">Close</button>
            </div>
        </div>
    </div>
</div>