<div class="modal fade" id="uploadXLSXModal" tabindex="-1" aria-labelledby="uploadXLSXModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadXLSXModalLabel">Upload XLSX</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="dropzone" id="uploadDropzone" action="/upload" method="post" enctype="multipart/form-data">
                </form>
                <div id="previews"></div>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spreadsheetRadios" id="infoSpreadsheet"
                        value="1">
                    <label class="form-check-label" for="infoSpreadsheet">Information Spreadsheet</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spreadsheetRadios" id="counselingSpreadsheet"
                        value="2">
                    <label class="form-check-label" for="counselingSpreadsheet">Counseling Spreadsheet</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spreadsheetRadios"
                        id="individualInventorySpreadsheet" value="3">
                    <label class="form-check-label" for="individualInventorySpreadsheet">Individual Inventory
                        Spreadsheet</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="uploadXLSXDiscardButton">Discard</button>
                <button type="button" class="btn btn-primary" id="uploadXLSXUploadButton">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generateQRModal" tabindex="-1" aria-labelledby="generateQRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="generateQRModalLabel">Generate QR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="text" placeholder="Enter text to generate QR code"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Generate QR</button>
                    <div id="qrImagePreview"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="generateQRDiscardButton">Discard</button>
                <button type="button" class="btn btn-primary" id="generateQRDownloadButton">Download QR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addColumnModal" tabindex="-1" aria-labelledby="addColumnModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addColumnModalLabel">Add Column</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="addDataForm" enctype="multipart/form-data">
                    <label for="student_id">Student #:</label>
                    <input type="text" id="student_id" name="student_id" required>
                    <br>
                    <label for="level">Level:</label>
                    <input type="text" id="level" name="level" required>
                    <br>
                    <label for="program">Program:</label>
                    <input type="text" id="program" name="program" required>
                    <br>
                    <label for="guidance_service_availed">Guidance Service Availed:</label>
                    <input type="text" id="guidance_service_availed" name="guidance_service_availed" required>
                    <br>
                    <label for="contact_type">Contact Type:</label>
                    <input type="text" id="contact_type" name="contact_type" required>
                    <br>
                    <label for="nature_of_concern">Nature Of Concern:</label>
                    <input type="text" id="nature_of_concern" name="nature_of_concern" required>
                    <br>
                    <label for="specific_concern">Specific Concern:</label>
                    <input type="text" id="specific_concern" name="specific_concern" required>
                    <br>
                    <label for="concern">Concern:</label>
                    <input type="text" id="concern" name="concern" required>
                    <br>
                    <label for="intervention">Intervention:</label>
                    <input type="text" id="intervention" name="intervention" required>
                    <br>
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required>
                    <br>
                    <label for="remarks">Remarks:</label>
                    <input type="text" id="remarks" name="remarks" required>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addDataButton">Add Data</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scanQRModal" tabindex="-1" aria-labelledby="scanQRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scanQRModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeQrScannerModalTitle"></button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="section">
                        <div id="reader"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    id="closeQrScannerModalFooter">Close</button>
            </div>
        </div>
    </div>
</div>