<div class="containerr">
    <div class="content">
        <div class="m-1 d-flex">
            <select class="form-select form-select-md fw-bold" aria-label="Default select menu" id="fileDropdown" disabled></select>
            </select>
            <button id="downloadFileButton" disabled>
                <img src="/public/img/download.svg" alt="download file" style="width: 1.5rem; height: 1.5rem;">
            </button>
            &nbsp;
            <button id="deleteFileButton" disabled>
                <img src="/public/img/bin.svg" alt="delete file" style="width: 1.5rem; height: 1.5rem;">
            </button>
            &nbsp;
        </div>

        <div class="table-container m-1">
            <table class="table table-striped table-bordered" id="table">
                <!-- https://www.geeksforgeeks.org/how-to-make-bootstrap-table-with-sticky-table-head/ -->
                <thead style="position: sticky; top: 0;" id="tableHead">
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
        <div class="qr-code-scan-icon m-4">
            <a data-bs-toggle="modal" data-bs-target="#scanQRModal" id="qrCodeScanIcon">
                <img src="/node_modules/bootstrap-icons/icons/qr-code-scan.svg" alt="QR Code Scan"
                    style="width: 2.5rem; height: 2.5rem; filter: invert(100%);">
            </a>
        </div>
    </div>
</div>