<div class="login-container">
        <h1>Admin Login</h1>
        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <label for="username">Username or Email:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div class="button_container">
                <button type="button" onclick="window.location.href='/'">Home</button>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>