.table-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    user-select: text;
    margin: 5px;
}

td,
th {
    white-space: nowrap;
}

td input {
    width: 100%;
    border: none;
}

.qr-code-scan-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
    background-color: #0B5793;
    border-radius: 15%;
    padding: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#reader {
    padding: 20px !important;
}

#reader img[alt="Info icon"] {
    display: none;
}

#reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

video {
    border: 1px solid black !important;
}