.table-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    user-select: text;
}

.form-select:focus {
    box-shadow: none;
}

td,
th {
    white-space: nowrap;
}

td input {
    /* width: 100%; */
    border: none;
}

.qr-code-scan-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0B5793;
    border-radius: 15%;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);
}

#reader {
    padding: 2rem !important;
}

#reader img[alt="Info icon"] {
    display: none;
}

#reader img[alt="Camera based scan"] {
    width: 5rem !important;
    height: 5rem !important;
}

video {
    border: 0.1rem solid black !important;
}