.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 10px 5px 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffd905;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #ffd905;
}